<!DOCTYPE html>
<html>
<head>
<title>FAQ</title>

</head>

<h1><center>FAQs</center></h1>

<ol type="1">
  <li><font size="4">What email id should I use to register and login?</font></li>
     <ul>
      <li><font size="3">Please use your Binghamton University Computer Account (aka PODS) Email ID.

Admissions Applicant: You must first ACTIVATE your Binghamton University
   Computer Account User ID. Go to https://password.binghamton.edu. 

   Please refer to communications and documentation provided by Undergraduate or 
   Graduate Admissions Office.</font></li>
     </ul>
 <p>
  <li><font size="4">How do I pay for the product I want? What is the mode of payment?</font></li>
     <ul>
      <li><font size="3">Baxter's List is only a classifieds page for Binghamton University staffa nd students. There is no payment gateway on this site. This site provides the user with a medium to post and browse for ads based on certain categories. The Buyer must contact the Seller using the Contact infomation provided along with the ad. The payment mode must be decided between the parties involved.</font></li>
     </ul>
</ol>

<form action="http://localhost:3000/blist/home" method="link">
<p style="text-align: left;"><input type="submit" value="BACK TO HOME" />&nbsp;</p>
</form>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<hr />
<p><span style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif; font-size: 12px;">&copy; 2016 State University of New York Binghamton</span></p>
</body>
</html>

