<!doctype html>
<html>
<head>
	<title>HTML Editor - Full Version</title>
</head>
<body>
<h1><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><span style="font-size:20px;">Welcome to Binghamton University&#39;s Online Classifieds!</span></span></h1>

<p><img alt="" src="https://pbs.twimg.com/media/Ca4xtS0WEAAVmu6.jpg" style="width: 346px; height: 450px; float: left;" />&nbsp; &nbsp;<font size="3" style="font-family: Verdana, 'Arial Narrow', helvetica, sans-serif; background-color: rgb(255, 255, 255);">Log-in with your Binghamton University Computer Account User ID<br />
&nbsp;&nbsp;&nbsp;(also known as PODS username).</font></p>

<p>&nbsp; &nbsp;<a href="http://localhost:3000/login"><span style="font-size:16px;"><input name="Login" type="submit" value="LOGIN" /></span></a></p>

<p>&nbsp; &nbsp;<font size="3" style="font-family: Verdana, 'Arial Narrow', helvetica, sans-serif; background-color: rgb(255, 255, 255);">If you do not have a User ID and password register here.</font></p>

<p>&nbsp;&nbsp;&nbsp;<a href="http://localhost:3000/signup"><span style="font-size:16px;"><input name="Sign Up" type="submit" value="SIGN UP" /></span></a></p>

<p><b>&nbsp; &nbsp;Admissions Applicant:&nbsp;</b>You must first ACTIVATE your Binghamton University<br />
&nbsp;&nbsp;&nbsp;Computer Account User ID. Go to&nbsp;<a href="https://password.binghamton.edu/" style="color: rgb(0, 102, 51); text-decoration: none;" target="_blank">https://password.binghamton.edu.</a>&nbsp;</p>

<p>&nbsp; &nbsp;Please refer to&nbsp;communications and documentation provided by Undergraduate or&nbsp;<br />
&nbsp;&nbsp;&nbsp;Graduate Admissions&nbsp;Office.</p>

<p>&nbsp; &nbsp;<a href="http://localhost:3000/blist/faq"><span style="font-size:16px;"><input name="FAQ" type="submit" value="FAQs" /></span></a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<hr />
<p><span style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif; font-size: 12px;">&copy; 2016 State University of New York Binghamton</span></p>
</body>
</html>

